body {
    background-color: grey;
}

#maincontainer {
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 10px;
    background-color: rgb(58, 183, 183);
}

#topcontainer {
    display: flex;
    justify-content: space-between;
}

#timer {
    float: right;
    font-size: 24px;
}

#currentScore {
    font-size: 24px;
}

#welcome {
    font-size: 24px;
    float: center;
}

#viewhiscores {
    font-size: 24px;
}

#startButtonDiv {
    height: 50px;
    position: relative;
}

#startButton {
    margin-left: 45%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



#quizQuestions {
    display: none;
    position: relative;
    margin-left: 25%;
}

main > p {
    font-size: 28px;
    font-weight: bold;
}

.buttons2 {
    visibility: hidden;
}

.buttons3 {
    visibility: hidden;
}

.buttons4 {
    visibility: hidden;
}

.buttons5 {
    visibility: hidden;
}


#finishedpage {
    display: none;
}

#hiscores {
    display: none;
}